## Delete the dollar sign for price and adjusted_price columns

In [1]:
import pandas as pd

df = pd.read_csv('calendar.csv')
df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,26082,2019-07-08,f,$55.00,$55.00,3.0,28.0
1,109,2019-07-09,f,$115.00,$115.00,30.0,730.0
2,109,2019-07-10,f,$115.00,$115.00,30.0,730.0
3,109,2019-07-11,f,$115.00,$115.00,30.0,730.0
4,109,2019-07-12,f,$115.00,$115.00,30.0,730.0

In [2]:
from csv import reader

opened_file = open('calendar.csv')
read_file = reader(opened_file)
calendar = list(read_file)

for row in calendar:
    price = row[3]
    adjusted_price = row[4]
    row[3] = price.replace('$', '')
    row[4] = adjusted_price.replace('$', '')

In [3]:
calendar[66:70]

[['26157', '2019-07-29', 't', '99.00', '99.00', '3', '30'],
 ['26157', '2019-07-30', 't', '99.00', '99.00', '3', '30'],
 ['26157', '2019-07-31', 't', '99.00', '99.00', '3', '30'],
 ['26157', '2019-08-01', 't', '99.00', '99.00', '3', '30']]

import csv

with open('calendar_cleaned.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerows(calendar)

## Extract amenities column and create frequency table

In [5]:
listing2 = pd.read_csv('listings-2.csv')
amenities = listing2.amenities
amenities.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0    {TV,"Cable TV",Internet,Wifi,"Air conditioning...
1    {TV,"Cable TV",Internet,Wifi,"Air conditioning...
2    {Internet,Wifi,"Air conditioning","Wheelchair ...
3    {Internet,Wifi,Kitchen,Heating,Washer,Dryer,"S...
4    {TV,"Cable TV",Internet,Wifi,"Air conditioning...
Name: amenities, dtype: object

In [6]:
amenities = amenities.str.replace('{', '')
amenities = amenities.str.replace('}', '')
amenities = amenities.str.replace('"', '')
amenities

0        TV,Cable TV,Internet,Wifi,Air conditioning,Whe...
1        TV,Cable TV,Internet,Wifi,Air conditioning,Poo...
2        Internet,Wifi,Air conditioning,Wheelchair acce...
3        Internet,Wifi,Kitchen,Heating,Washer,Dryer,Smo...
4        TV,Cable TV,Internet,Wifi,Air conditioning,Kit...
                               ...
44615    TV,Wifi,Air conditioning,Pool,Kitchen,Free par...
44616    Wifi,Kitchen,Free parking on premises,Washer,D...
44617    TV,Cable TV,Wifi,Air conditioning,Kitchen,Free...
44618    Wifi,Air conditioning,Kitchen,Breakfast,Heatin...
44619    TV,Wifi,Pool,Kitchen,Free street parking,Heati...
Name: amenities, Length: 44620, dtype: object

In [17]:
amenities.shape

(44620,)

In [7]:
amenities_split = amenities.str.split(',', expand=True)
amenities_split.head()

,0,1,2,3,4,5,6,7,8,9,...,121,122,123,124,125,126,127,128,129,130
0,TV,Cable TV,Internet,Wifi,Air conditioning,Wheelchair accessible,Pool,Kitchen,Free parking on premises,Pets allowed,...,None,None,None,None,None,None,None,None,None,None
1,TV,Cable TV,Internet,Wifi,Air conditioning,Pool,Kitchen,Pets live on this property,Dog(s),Free street parking,...,None,None,None,None,None,None,None,None,None,None
2,Internet,Wifi,Air conditioning,Wheelchair accessible,Kitchen,Free parking on premises,Gym,Breakfast,Elevator,Free street parking,...,None,None,None,None,None,None,None,None,None,None
3,Internet,Wifi,Kitchen,Heating,Washer,Dryer,Smoke detector,Essentials,Shampoo,Hangers,...,None,None,None,None,None,None,None,None,None,None
4,TV,Cable TV,Internet,Wifi,Air conditioning,Kitchen,Free parking on premises,Hot tub,Indoor fireplace,Heating,...,None,None,None,None,None,None,None,None,None,None

In [18]:
amenities_split.shape

(44620, 131)

In [8]:
import numpy as np

amenities_value_counts = amenities_split.apply(pd.value_counts).apply(np.sum, axis=1).sort_values(ascending=False)
amenities_value_counts.head(50)

Wifi                           43520.0
Essentials                     42418.0
Smoke detector                 41142.0
Kitchen                        39672.0
Heating                        39466.0
Hangers                        37818.0
Shampoo                        35956.0
TV                             35819.0
Carbon monoxide detector       34633.0
Air conditioning               34094.0
Hair dryer                     33976.0
Washer                         33859.0
Dryer                          33433.0
Laptop friendly workspace      33286.0
Iron                           32187.0
Hot water                      27282.0
Free parking on premises       26786.0
Fire extinguisher              23897.0
First aid kit                  20701.0
Refrigerator                   19632.0
Lock on bedroom door           18866.0
Dishes and silverware          17919.0
Microwave                      17800.0
Bed linens                     17581.0
Free street parking            17448.0
Private entrance               17071.0
Coffee maker                   16767.0
Stove                          16730.0
Self check-in                  16163.0
Cooking basics                 16132.0
Oven                           15885.0
No stairs or steps to enter    14717.0
Family/kid friendly            14268.0
Long term stays allowed        14196.0
Extra pillows and blankets     13797.0
Cable TV                       12896.0
Internet                       11404.0
Patio or balcony               10979.0
Dishwasher                     10936.0
Pool                           10049.0
Luggage dropoff allowed         9606.0
Indoor fireplace                9578.0
Elevator                        9065.0
Garden or backyard              9007.0
Hot tub                         7785.0
Pets allowed                    7579.0
Host greets you                 7443.0
Lockbox                         7358.0
BBQ grill                       6523.0
Private living room             6398.0
dtype: float64

<b>We selected 5 features from Top 50 amenities:</b>

Wifi <br/>
Free parking on premises  <br/>
Pool  <br/>
Patio or balcony <br/>
Hot tub

## Create True/False features for every amenity

In [14]:
amenities_list = []
for x in range(0,len(amenities_split)):
    amenities_list.append(amenities[x].split(','))

In [15]:
len(amenities_list)

44620

In [16]:
amenities_list[0]

['TV',
 'Cable TV',
 'Internet',
 'Wifi',
 'Air conditioning',
 'Wheelchair accessible',
 'Pool',
 'Kitchen',
 'Free parking on premises',
 'Pets allowed',
 'Gym',
 'Elevator',
 'Hot tub',
 'Indoor fireplace',
 'Buzzer/wireless intercom',
 'Heating',
 'Family/kid friendly',
 'Suitable for events',
 'Washer',
 'Dryer',
 'Smoke detector',
 'Carbon monoxide detector',
 'First aid kit',
 'Safety card',
 'Fire extinguisher',
 'Essentials',
 'Shampoo',
 '24-hour check-in',
 'Hangers',
 'Hair dryer',
 'Iron',
 'Laptop friendly workspace']

In [20]:
def amenities_tf(amenities_name):
    amenity_list = []
    for row in amenities_list:
        if amenities_name in row:
            amenity_list.append(True)
        else:
            amenity_list.append(False)
    return amenity_list

In [23]:
wifi_list = amenities_tf('Wifi')
free_parking_list = amenities_tf('Free parking on premises')
pool_list = amenities_tf('Pool')
balcony_list = amenities_tf('Patio or balcony')
hottub_list = amenities_tf('Hot tub')

In [24]:
listing_df = pd.DataFrame(listing2.id)
listing_df['Wifi'] = wifi_list
listing_df['Free Parking'] = free_parking_list
listing_df['Pool'] = pool_list
listing_df['Balcony'] = balcony_list
listing_df['Hot Tub'] = hottub_list
listing_df.head()

     id  Wifi  Free Parking   Pool  Balcony  Hot Tub
0   109  True          True   True    False     True
1   344  True         False   True     True    False
2  2708  True          True  False     True     True
3  2732  True         False  False    False    False
4  2864  True          True  False    False     True

In [38]:
listing_df.shape

(44620, 6)

listing_df.to_csv('amenities.csv', index=False)

## Extract features for listing2 dataset

In [25]:
listing2.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,109,https://www.airbnb.com/rooms/109,20190708161040,2019-07-09,Amazing bright elegant condo park front *UPGRA...,"*** Unit upgraded with new bamboo flooring, br...","*** Unit upgraded with new bamboo flooring, br...","*** Unit upgraded with new bamboo flooring, br...",none,NaN,...,f,f,strict_14_with_grace_period,t,f,1,1,0,0,0.02
1,344,https://www.airbnb.com/rooms/344,20190708161040,2019-07-09,Family perfect;Pool;Near Studios!,This home is perfect for families; aspiring ch...,"Cheerful & comfortable; near studios, amusemen...",This home is perfect for families; aspiring ch...,none,Quiet-yet-close to all the fun in LA! Hollywoo...,...,t,f,flexible,f,f,1,1,0,0,0.16
2,2708,https://www.airbnb.com/rooms/2708,20190708161040,2019-07-09,Fireplace Mirrored Mini Suit (Website hidden b...,Our best memory foam pillows you'll ever sleep...,Flickering fireplace. Blendtec® Designer 625 ...,Our best memory foam pillows you'll ever sleep...,none,We are minutes away from the Mentor Language I...,...,t,f,strict_14_with_grace_period,f,f,2,0,2,0,0.32
3,2732,https://www.airbnb.com/rooms/2732,20190708161040,2019-07-09,Zen Life at the Beach,NaN,This is a three story townhouse with the follo...,This is a three story townhouse with the follo...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,2,1,1,0,0.18
4,2864,https://www.airbnb.com/rooms/2864,20190708161040,2019-07-08,*Upscale Professional Home with Beautiful Studio*,Centrally located.... Furnished with 42 inch S...,The space is furnished with Thomasville furnit...,Centrally located.... Furnished with 42 inch S...,none,What makes the neighborhood unique is that the...,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,NaN

In [26]:
listing2.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       ...
       'instant_bookable', 'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object', length=106)

<b>columns selected:</b> <br/>
id <br/>
zipcode <br/>
latitude <br/>
longitude <br/>
property_type <br/>
room_type <br/>
bed_type <br/>

In [27]:
listing2_features = listing2[['id' , 'zipcode', 'latitude', 'longitude', 'property_type', 'room_type', 'bed_type']]
listing2_features.head()

,id,zipcode,latitude,longitude,property_type,room_type,bed_type
0,109,90230,33.98209,-118.38494,Condominium,Entire home/apt,Real Bed
1,344,91505,34.16562,-118.33458,House,Entire home/apt,Real Bed
2,2708,90046,34.09768,-118.34602,Apartment,Private room,Real Bed
3,2732,90405,34.00475,-118.48127,Apartment,Private room,Pull-out Sofa
4,2864,90706,33.87619,-118.11397,Apartment,Entire home/apt,Real Bed

In [39]:
listing2_features.shape

(44620, 7)

listing2_features.to_csv('listing2_features.csv', index=False)

## Extract features for listings dataset

In [29]:
listings = pd.read_csv('listings.csv')
listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,NaN,Culver City,33.98209,-118.38494,Entire home/apt,122,30,2,2016-05-15,0.02,1,98
1,344,Family perfect;Pool;Near Studios!,767,Melissa,NaN,Burbank,34.16562,-118.33458,Entire home/apt,168,2,6,2018-10-21,0.16,1,0
2,2708,Fireplace Mirrored Mini Suit (Website hidden b...,3008,Chas.,NaN,Hollywood,34.09768,-118.34602,Private room,79,28,20,2019-05-20,0.32,2,238
3,2732,Zen Life at the Beach,3041,Yoga Priestess,NaN,Santa Monica,34.00475,-118.48127,Private room,140,1,18,2018-11-15,0.18,2,309
4,2864,*Upscale Professional Home with Beautiful Studio*,3207,Bernadine,NaN,Bellflower,33.87619,-118.11397,Entire home/apt,80,2,0,NaN,NaN,1,0

In [30]:
listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

<b>columns selected:</b> <br/>
id <br/>
name <br/>
price <br/>
minimum_nights <br/>
number_of_reviews

In [31]:
listings_features = listings[['id', 'name', 'price', 'minimum_nights', 'number_of_reviews']]
listings_features.head()

,id,name,price,minimum_nights,number_of_reviews
0,109,Amazing bright elegant condo park front *UPGRA...,122,30,2
1,344,Family perfect;Pool;Near Studios!,168,2,6
2,2708,Fireplace Mirrored Mini Suit (Website hidden b...,79,28,20
3,2732,Zen Life at the Beach,140,1,18
4,2864,*Upscale Professional Home with Beautiful Studio*,80,2,0

In [40]:
listings_features.shape

(44620, 5)

In [34]:
listings_features.to_csv('listings_features.csv', index=False)

## Reviews dataset

In [33]:
reviews = pd.read_csv('reviews.csv')
reviews.head()

   listing_id        date
0         109  2011-08-15
1         109  2016-05-15
2         344  2016-06-14
3         344  2016-12-11
4         344  2016-12-30

In [41]:
reviews.shape

(1427153, 2)